.game {
  margin: 24px auto 0;
  max-width: 700px;

  button {
    font-weight: 600;
    padding: 10px 15px;
  }
}

.board {
  background-color: var(--green);
  color: var(--white-light);
  padding-bottom: 17px;
}

.deck {
  margin: 0;
  padding: 17px 17px 0;
  text-align: right;
}

.dealer,
.player {
  display: flex;
  padding: 17px 0;

  & > div {
    font-weight: 700;
    width: 150px;
  }
}

.name {
  margin: 0;
}

.value {
  font-size: 28px;
  margin: 10px 0;
}

.actions {
  margin: 24px 0;

  button {
    margin-right: 10px;
  }

  button:last-child {
    margin-right: 0;
  }
}

.cards {
  display: flex;
  flex-grow: 1;
}
